@model fantasyFootball.Models.FantasyTeamModel

<div class="container">

<h1 class="text-center">Your Fantasy FootBall Team(s)</h1>
<br>
<div class="form-group">
<form>
<div>
    <label asp-for="FantasyTeamModelId" class="control-label"></label>
    <select asp-for="FantasyTeamModelId" class ="form-control teamID" asp-items="Id"></select>
</div>
</form>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td><a asp-area="" asp-controller="PlayerInfo" asp-action="Index">Tiger Nixon</a></td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
        </tbody>
</table>

</div>