
<div class="container">
<br>
<h2 class="text-center">Sorry You Haven't Created a Team Yet.</h2>
<h3 class="text-center">You can add on here</h3>
<br>
<div class="col-sm-6 col-sm-offset-3">
    <a asp-controller="InputTeam" asp-action="Create">
        <button class="btn btn-primary btn-lg btn-block col-sm-12">Input New Team Here</button>
    </a>
</div>
</div>