<div class="container">
    <h1 class="text-center">Fantasy Football Articles</h1>
    <br>
    <form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <script>
                (function() {
                    var cx = '016705457776214443318:swtmrdurlc4';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();
                </script>
                <gcse:search></gcse:search>
        </div>
            <div id="test">
            <script>
            var myCallback = function() {
            if (document.readyState == 'complete') {
                // Document is ready when CSE element is initialized.
                // Render an element with both search box and search results in div with id 'test'.
                google.search.cse.element.render(
                    {
                    div: "test",
                    tag: 'search'
                    });
            } else {
                // Document is not ready yet, when CSE element is initialized.
                google.setOnLoadCallback(function() {
                // Render an element with both search box and search results in div with id 'test'.
                    google.search.cse.element.render(
                        {
                        div: "test",
                        tag: 'search'
                        });
                }, true);
            }
            };

            // Insert it before the CSE code snippet so that cse.js can take the script
            // parameters, like parsetags, callbacks.
            window.__gcse = {
            parsetags: 'explicit',
            callback: myCallback
            };

            (function() {
            var cx = '123:456'; // Insert your own Custom Search engine ID here
            var gcse = document.createElement('script'); gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            </div>
        </div>
    </div>
    </form>
    <ul class="list-unstyled">
        <li><h3>Article 1</h3></li>
        <p>Article Text</p>
        <ul>
            <li><a>Article Link</a></li>
        </ul>
        <li><h3>Article 2</h3></li>
        <p>Article Text</p>
        <ul>
        <li><a>Article Link</a></li>
        </ul>
        <li><h3>Article 3</h3></li>
        <p>Article Text</p>
        <ul>
            <li><a>Article Link</a></li>
        </ul>
</div>