<div class="container">
    <h1 class="text-center">Fantasy Football Articles</h1>
    <br>
    <form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <input type="text" class="form-control" id="Serch" placeholder="Search">
        </div>
    </div>
    </form>
    <ul class="list-unstyled">
        <li><h3>Article 1</h3></li>
        <p>Article Text</p>
        <ul>
            <li><a>Article Link</a></li>
        </ul>
        <li><h3>Article 2</h3></li>
        <p>Article Text</p>
        <ul>
        <li><a>Article Link</a></li>
        </ul>
        <li><h3>Article 3</h3></li>
        <p>Article Text</p>
        <ul>
            <li><a>Article Link</a></li>
        </ul>
</div>