<div class="container">

<h1 class="text-center">Available Players</h1>
<br>

<br>
<div class="row">
    <form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-3">
            <form>
                <input class="form-control searchAllPlayerName" autofocus />
            </form>
        </div>
    </div>
    </form>
    <br>
</div>
<br>
<table id="allPlayers" class="table table-striped table-bordered allPlayers" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Position</th>
                <th>Team</th>
                <th>Add Player</th>
            </tr>
        </thead>
        <tbody class="allPlayerBody">
        </tbody>
</table>

</div>
<footer>
    <script src="~/js/AvailablePlayer.js"></script>
</footer>