@model fantasyFootball.Models.PlayersModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PlayersModel</h4>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-action="Create">
            <div class="row col-sm-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FantasyTeamModelId" class="control-label"></label>
                <select asp-for="FantasyTeamModelId" class ="form-control teamID" asp-items="ViewBag.FantasyTeamModelId"></select>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="jersey" class="form-control" />
                <span asp-validation-for="jersey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="lname" class="form-control" />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="fname" class="form-control" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="displayName" class="control-label">Player Name</label>
                <input asp-for="displayName" class="form-control searchPlayerName" />
                <span asp-validation-for="displayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="team" class="form-control" />
                <span asp-validation-for="team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="position" class="form-control" />
                <span asp-validation-for="position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="college" class="form-control" />
                <span asp-validation-for="college" class="text-danger"></span>
            </div>
            </div>
            <div class="playerInfo col-sm-4">
            </div>
        </form>
         </div>
    </div>

        <div class="row">
            <h2>Players</h2>
           <ul>
              
           </ul>
        </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

