@model fantasyFootball.Models.PlayersModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PlayersModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FantasyTeamModelId" class="control-label"></label>
                <select asp-for="FantasyTeamModelId" class="form-control" asp-items="ViewBag.FantasyTeamModelId"></select>
                <span asp-validation-for="FantasyTeamModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="active" class="control-label"></label>
                <input asp-for="active" class="form-control" />
                <span asp-validation-for="active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jersey" class="control-label"></label>
                <input asp-for="jersey" class="form-control" />
                <span asp-validation-for="jersey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lname" class="control-label"></label>
                <input asp-for="lname" class="form-control" />
                <span asp-validation-for="lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fname" class="control-label"></label>
                <input asp-for="fname" class="form-control" />
                <span asp-validation-for="fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="displayName" class="control-label"></label>
                <input asp-for="displayName" class="form-control" />
                <span asp-validation-for="displayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="team" class="control-label"></label>
                <input asp-for="team" class="form-control" />
                <span asp-validation-for="team" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="position" class="control-label"></label>
                <input asp-for="position" class="form-control" />
                <span asp-validation-for="position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dob" class="control-label"></label>
                <input asp-for="dob" class="form-control" />
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="college" class="control-label"></label>
                <input asp-for="college" class="form-control" />
                <span asp-validation-for="college" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

