<div class="container">
    <br>
    <div class="row">
        <img src="http://via.placeholder.com/200x200" alt="Player Img" class="img-rounded col-sm-3">
        <br>
        <br>
        <dl class="dl-horizontal col-sm-4">
            <dt>Player Name</dt>
            <dd>Tiger Nixon</dd>
            <br>
            <dt>Player Team</dt>
            <dd>Super Flockas</dd>
        </dl>
        <dl class="dl-horizontal col-sm-4">
            <dt>Player Position</dt>
            <dd>QB</dd>
            <br>
            <dt>Player Status</dt>
            <dd>Active</dd>
        </dl>
    </div>
</div>