@model IEnumerable<videoStore.Models.FootBallOViewModel>

<div class="container">
    <br>
    <div class="row">
        <img src="http://via.placeholder.com/200x200" alt="Player Img" class="img-rounded col-sm-3">
        <br>
        <br>
        <dl class="dl-horizontal col-sm-4 indvPlayerNT">

        </dl>
        <dl class="dl-horizontal col-sm-4 indvPlayerPos">

        </dl>
    </div>
    <br>
    <br>
<table id="example" class="table table-striped table-bordered col-sm-10" cellspacing="0" width="100%">
        <caption class=""><strong>Fantasy Outsiders Stats</strong></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-area="" asp-controller="PlayerInfo" asp-action="Index">Tiger Nixon</a></td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
        </tbody>
</table>
<table id="example" class="table table-striped table-bordered col-sm-10" cellspacing="0" width="100%">
        <caption class=""><strong>Fantasy Pros Stats</strong></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-area="" asp-controller="PlayerInfo" asp-action="Index">Tiger Nixon</a></td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
        </tbody>
</table>
<table id="example" class="table table-striped table-bordered col-sm-10" cellspacing="0" width="100%">
        <caption class=""><strong>Your Sites Stats</strong></caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-area="" asp-controller="PlayerInfo" asp-action="Index">Tiger Nixon</a></td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
        </tbody>
</table>
<br>
<br>
<h2 class="text-center">Player News</h2>
<ul class="list-unstyled">
    <li><h3>Article 1</h3></li>
    <p>Article Text</p>
        <ul>
            <li><a>Article Link</a></li>
        </ul>
     <li><h3>Article 2</h3></li>
    <p>Article Text</p>
        <ul>
            <li><a>Article Link</a></li>
        </ul>
</ul>
</div>
<footer>
    <script src="~/js/PlayerInfo.js"></script>
</footer>